<div class="page-top-info">
    <div class="container">
        <h4>Checkout</h4>
        <div class="site-pagination">
            <a href="#">Home</a> /
            <a href="#">Checkout</a>
        </div>
    </div>
</div>


<section class="checkout-section spad">
    <div class="container">
        <div *ngIf="!is_ordered else elseBlock" class="row">
            <div class="col-lg-8 order-2 order-lg-1">
                
                <form #CheckoutForm="ngForm" name="CheckoutForm"
                (ngSubmit)="onSubmitCheckoutForm()" novalidate="novalidate" class="checkout-form">
                    <div class="cf-title">Billing Address</div>
                    <div class="row">
                        <div class="col-md-7">
                            <p>*Billing Information</p>
                        </div>
                        <div class="col-md-5">
                            <div class="cf-radio-btns address-rb">
                                <div class="cfr-item" *ngFor="let user_address of all_user_adresses; let i = index">
                                    <input type="radio" name="pm" id="one-{{i+1}}" (click)="selectAddress(i)">
                                    <label for="one-{{i+1}}">Use default address {{i+1}}</label>                                
                                </div>
                                <div class="cfr-item">
                                    <input type="radio" name="pm" id="two" (click)="clearAddress()" checked=true>
                                    <label for="two">Use a different address&nbsp;&nbsp;&nbsp;</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row address-inputs">
                        <div class="col-md-12">
                            <input  [(ngModel)]="CheckoutModel.addressid.address1" #address1="ngModel" name="address1" type="text" placeholder="Address Line 1">
                            
                           
                            <input [(ngModel)]="CheckoutModel.addressid.address2" #address2="ngModel" name="address2" type="text" placeholder="Address line 2">
                            <input [(ngModel)]="CheckoutModel.addresstype" #addresstype="ngModel" name="addresstype" type="text" placeholder="Address Type">

                        </div>
                        <div class="col-md-6">
                            <input [(ngModel)]="CheckoutModel.addressid.zipcode" #zipcode="ngModel" name="zipcode" type="text" placeholder="Zip code">
                        </div>
                        <div class="col-md-6">
                            <input [(ngModel)]="CheckoutModel.addressid.city" #city="ngModel" name="city" type="text" placeholder="City">
                        </div>
                        <div class="col-md-6">
                            <input [(ngModel)]="CheckoutModel.addressid.state" #state="ngModel" name="state" type="text" placeholder="State">
                        </div>
                        <div class="col-md-6">
                            <input [(ngModel)]="CheckoutModel.addressid.country" #country="ngModel" name="country" type="text" placeholder="Country">
                        </div>

                    </div>
                    <div class="cf-title">Delievery Info</div>
                    <div class="row shipping-btns">
                        <div class="col-6">
                            <h4>Standard</h4>
                        </div>
                        <div class="col-6">
                            <div class="cf-radio-btns">
                                <div class="cfr-item">
                                    <input type="radio" name="shipping" id="ship-1">
                                    <label for="ship-1">Free</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <h4>Next day delievery </h4>
                        </div>
                        <div class="col-6">
                            <div class="cf-radio-btns">
                                <div class="cfr-item">
                                    <input type="radio" name="shipping" id="ship-2">
                                    <label for="ship-2">$3.45</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cf-title">Payment</div>
                    <ul class="payment-list">
                        <li>Paypal<a href="#"><img src="assets/images/paypal.png" alt=""></a></li>
                        <li>Credit / Debit card<a href="#"><img src="assets/images/mastercart.png" alt=""></a></li>
                        <li>Pay when you get the package</li>
                    </ul>
                    <button class="site-btn submit-order-btn">Place Order</button>
                </form>
            </div>



            <!-- Checkout cart -->
            <div class="col-lg-4 order-1 order-lg-2">
                <div class="checkout-cart">
                    <h3>Your Cart</h3>
                    <ul class="product-list">
                        <li *ngFor="let product of cart; let i = index">
                            <div class="pl-thumb"><img src="http://localhost:8080/ecommerce/content?_n={{product.productid.smallimg}}&_doc=product.Product&_b=smallimg&pfdrid_c=true" alt=""></div>
                            <h6>{{product.productid.productname}}</h6>
                            <p>{{product.productid.productprice | currency:'INR'}}</p>
                        </li>

                    </ul>
                    <ul class="price-list">
                        <li>Total<span>{{cart_total| currency:'INR'}}</span></li>
                        <li>Shipping<span>free</span></li>
                        <li class="total">Total<span>{{cart_total| currency:'INR'}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="container">

                <div class="row mx-30 d-flex justify-content-center">

                    <h3 class="d-flex justify-content-center">Your Order is placed</h3>
                    
                    <button class="site-btn checkout-order-btn" (click)="routeHome()">Go Back to Home</button>

        </div>

            </div>

    
            
            









        </ng-template>


    </div>
</section>