<div class="page-top-info">
    <div class="container">
        <h4>Order</h4>
        <div class="site-pagination">
            <a href="#">Home</a> /
            <a href="#">Orders</a>/
            <a href="#">Order</a>
        </div>
    </div>
</div>


<section class="order-section spad">

  <div class="container cart-table"  >

  
    <div class="card">
      <div class="card-header">
          <h5>Tracking details</h5>
  
      </div>
      <div class="card-body d-flex justify-content-center">

        <div class="ui ordered steps ">
          <div class="completed step">
            <div class="content">
              <div class="title">Checkout</div>
              <!-- <div class="description">Choose your shipping options</div> -->
            </div>
          </div>
          <div class="completed step">
            <div class="content">
              <div class="title">Order</div>
              <!-- <div class="description">Enter billing information</div> -->
            </div>
          </div>
          <div class="{{steps.shipping}} step">
            <div class="content">
              <div class="title">Shipping</div>
              <!-- <div class="description">Verify order details</div> -->
            </div>
          </div>
          <div class="{{steps.delivery}} step">
            <div class="content">
              <div class="title">Delievery</div>
              <!-- <div class="description">Verify order details</div> -->
            </div>
          </div>
    
        </div>
      </div>
  </div>
  
















    <div class="card">
      <div class="card-header">
          <h5>Order details</h5>
  
      </div>
      <div class="card-body d-flex justify-content-center">
        <table class="table table-borderless" style="width: 50%;">
          <tbody>
            <tr>
              <td class="sub-head" >Order Id</td>
              <td >{{orderHeader.orderid}}</td>
            </tr>
            <tr>
              <td class="sub-head" >Order Status</td>
              <td >{{orderHeader.orderstatus}}</td>
            </tr>
            <tr>
              <td class="sub-head" >Amount to be paid</td>
              <td >{{orderHeader.grandtotal}}</td>
            </tr>
            <tr>
              <td class="sub-head" >Order Date</td>
              <td >{{orderHeader.orderdate}}</td>
            </tr>
            
          </tbody>
        </table>
  
      </div>
  </div>








  <div class="card">
    <div class="card-header">
        <h5>Product details</h5>

    </div>
    <div class="card-body d-flex justify-content-center">


      <table class="table table-hover" style="width: 100%;">
        <thead class="" style="background-color:#979797">
            <tr>
                <th class="scope">SLNO</th>
                <th class="scope">Product</th>
                <th class="scope">Name</th>
                <th class="scope">Price</th>
                <th class="scope">Quantity</th>
                <th class="scope">Total</th>
  
            </tr>
        </thead>
        <tbody>
  
            <tr *ngFor="let orderitem of orderItems; let i = index">
                <td>{{i+1}}</td>
  
                <td ><image [url]= "orderitem.productid.smallimg" width="100" height="100"></image></td>
                <td>{{orderitem.productid.productname}}</td>
                <td>{{orderitem.productid.productprice}}</td>
                <td>{{orderitem.quantity}}</td>
                <td>{{orderitem.unitprice | currency:'INR'}}</td>                  
  
            </tr>
  
  
        </tbody>
    </table>

    </div>
</div>






   

    <div class="table-container">
    </div>


</div>

</section>




<div style="height: 10vh;"></div>