{% extends "base.html" %}
{% block content %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script src="/static/PerformanceMetrics.js"></script>

<script>

    syncperformance('{{project.project_name}}');
</script>


<!-- All Applications -->
<div class="main_content_iner ">

    <!-- Title -->
    <div class="container-fluid p-0" style="position:sticky;z-index: 200;">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">{{project.project_name | title}}</h3>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid p-0">
        <h4 class="ui horizontal divider header">
            <i class="bar chart icon"></i>
            Application info
        </h4>

        <div class="row">
            <div class="col">
                <table class="ui definition table">
                    <tbody>
                        <tr>
                            <td class="two wide column">Name</td>
                            <td>{{project.project_name | title}}</td>
                        </tr>
                        <tr>
                            <td>Database</td>
                            <td>{{project.database_dialect}}</td>
                        </tr>

                        <tr>
                            <td>Created Date</td>
                            <td>{{project.curr_date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-4 ">
                <button class="ui labeled icon button primary options"
                    onclick="syncperformances('{{project.project_name}}')"><i class="edit icon"></i></i>Update</button>
                <button class="ui labeled icon button negative options"
                    onclick="syncperformances('{{project.project_name}}')"><i
                        class="trash alternate icon"></i>Delete</button>
                <br>
                <br>

                <!-- <div id="power-container " style="margin-left: 21%;font-size: 16px;">
                    <form onclick="updatePowerStatus(this[0],'{{project.project_name}}')">
                    
                        <label for="switch">Turn On/Off     </label>
                        <input id="switch"  type="checkbox" data-toggle="toggle" name="check" value="1" 
                                        data-on="&nbsp;On &nbsp;" data-off=" Off "
                                        data-onstyle="success" data-offstyle="danger"
                                        data-style="ios" >
                        </form>

                </div> -->

            </div>
        </div>


    </div>

    <h4 class="ui horizontal divider header">
    </h4>


    <!--Performance metrics -->

    <div class="container-fluid p-0">
        <h4 class="ui horizontal divider header">
            <i class="bar chart icon"></i>
            Application metrics
        </h4>
        <!-- <button class="btn btn-primary" onclick="syncperformance()" style="font-size: 18px;"> Sync Performance <i class="sync alternate icon"></i></button> -->

        <div class="row options" style="padding: 10px 10px;margin: 10px 10px;position: sticky;top: 0.25rem;z-index: 200;">
            <div class="col d-flex justify-content-center">
                <button class="ui labeled icon button primary options"
                    onclick="syncperformance('{{project.project_name}}')"><i
                        class="sync alternate icon"></i>Refresh</button>

            </div>

        </div>

        <div class="row">
            <div class="col">
                <table class="ui definition table" style="padding-bottom:20px">

                    <tbody id="card-body-container">

                    </tbody>

                </table>

            </div>
            <div class="col-4">

                <div class="ui table gauge-wrapper">
                    <div class="gauge four rischio" style="margin-left: 25%;">
                        <div class="slice-colors">
                            <div class="st slice-item"></div>
                            <div class="st slice-item"></div>
                            <div class="st slice-item"></div>
                            <div class="st slice-item"></div>
                        </div>
                        <div class="needle" id="cpu-load-needle"></div>
                        <div class="gauge-center">
                            <div class="label">CPU Load</div>
                            <div class="number" id="cpu-load-gauge">23%</div>
                        </div>
                    </div>
                </div>
                <div class="ui table gauge-wrapper">
                    <div class="semi-donut margin" id="memory-usage">
                        <h4 id="memory-usage-gauge"> Memory Use -
                            10%</h4>

                        <!-- <div class="row">
                    </div>
                    <br>
                    <div class="row">

                    </div> -->

                    </div>


                </div>

            </div>

        </div>


        <!-- <div class="row" style="margin-top: 20px;">
        <div class="col d-flex justify-content-center">
            <img src="http://localhost:8080/{{project.project_name}}/monitoring?graph=usedMemory&width=960&height=400&period=jour" id="used-memory-graph" alt="">

        </div>
    </div> -->

    </div>
<br><br>
    <div class="container-fluid p-0">
        <h4 class="ui horizontal divider header">
            <i class="bar chart icon"></i>
            Performance statistics
        </h4>
        <div class="row options" style="padding: 10px 10px;margin: 10px 0px;">
            <h3 >Period&nbsp;&nbsp;</h3>

            <div class="col ">

                <div class="ui buttons">
                    



                    <button class="ui button" onclick="syncGraphs('{{project.project_name}}','jour')">Day</button>
                    <button class="ui button" onclick="syncGraphs('{{project.project_name}}','semaine')">Week</i></button>
                    <button class="ui button" onclick="syncGraphs('{{project.project_name}}','mois')">Month</i></button>
                    <button class="ui button" onclick="syncGraphs('{{project.project_name}}','annee')">Year</i></button>
                  </div>
                <!-- <button class="ui labeled icon button primary options"
                    onclick="syncperformance('{{project.project_name}}')"><i
                        class="sync alternate icon"></i>Project</button> -->

            </div>

        </div>


        <div class="row options" style="padding: 10px 10px;margin: 10px 0px;">
            <div class="col-3 graphs ui table" style="height: 80vh;overflow: scroll;">
                <img class="synthese" src="http://localhost:8080/{{project.project_name}}/monitoring?graph=usedMemory&width=150&height=35&period=jour" alt="Used memory" onclick="changeGraph('{{project.project_name}}','usedMemory')" title="Used memory">
                <img class="synthese" src="http://localhost:8080/{{project.project_name}}/monitoring?graph=httpSessions&width=150&height=35&period=jour" alt="Used memory" onclick="changeGraph('{{project.project_name}}','httpSessions')" title="Used memory">
                <img class="synthese" src="http://localhost:8080/{{project.project_name}}/monitoring?graph=activeThreads&width=150&height=35&period=jour" alt="Used memory" onclick="changeGraph('{{project.project_name}}','activeThreads')" title="Used memory">
                <img class="synthese" src="http://localhost:8080/{{project.project_name}}/monitoring?graph=activeConnections&width=150&height=35&period=jour" alt="Used memory" onclick="changeGraph('{{project.project_name}}','activeConnections')" title="Used memory">
                <img class="synthese" src="http://localhost:8080/{{project.project_name}}/monitoring?graph=httpHitsRate&width=150&height=35&period=jour" alt="Used memory" onclick="changeGraph('{{project.project_name}}','httpHitsRate')" title="Used memory">
                <img class="synthese" src="http://localhost:8080/{{project.project_name}}/monitoring?graph=httpSystemErrors&width=150&height=35&period=jour" alt="Used memory"  onclick="changeGraph('{{project.project_name}}','httpSystemErrors')" title="Used memory">
                <img class="synthese" src="http://localhost:8080/{{project.project_name}}/monitoring?graph=sqlHitsRate&width=150&height=35&period=jour" alt="Used memory" onclick="changeGraph('{{project.project_name}}','sqlHitsRate')" title="Used memory">
                <img class="synthese" src="http://localhost:8080/{{project.project_name}}/monitoring?graph=sqlSystemErrors&width=150&height=35&period=jour" alt="Used memory" onclick="changeGraph('{{project.project_name}}','sqlSystemErrors')" title="Used memory">
            </div>
            <div class="col graph">
                <img class="" src="http://localhost:8080/{{project.project_name}}/monitoring?graph=usedMemory&width=750&height=500&period=jour" alt="Used memory" title="Used memory">

            </div>
        </div>
    </div>







    <!-- All Audits of Projects -->
    <div class="main_content_iner ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="white_card card_height_100 mb_30">

                        <h4 class="ui horizontal divider header">
                            <i class="bar chart icon"></i>
                            Application Audits
                        </h4>
                        <!-- <div class="white_card_header">
                            <div class="box_header m-0">
                                <div class="main-title">
                                    <h3 class="m-0">Audit table </h3>
                                </div>
                            </div>
                        </div> -->

                        <div class="white_card_body">
                            <div class="QA_section">

                                <div class="QA_table mb_30 ui table">
                                    <!-- table-responsive -->
                                    <table id="audit-table" class="table lms_table_active3 ">
                                        <thead>
                                            <tr>
                                                <th scope="col">User</th>
                                                <th scope="col">Module</th>
                                                <th scope="col">Document</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Timestamp</th>
                                            </tr>
                                        </thead>
                                        <tbody id="audit_body">
                                            {% for audit in project_audits %}

                                            <tr>
                                                <td>{{audit.userName}}</td>
                                                <td>{{audit.auditDocumentName}}</td>
                                                <td>{{audit.auditModuleName}}</td>
                                                <td>{{audit.operation}}</td>
                                                <td>{{audit.timestamp}}</td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>


                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}





    