
{% extends "base.html" %}
{% block content %}






<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->

        <!-- <button onclick="showMessage('Hi all welcome','red')">Show some</button> -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left">
                        <h4 class="mb-0" >Dashboard</h4>
                    </div>

                </div>
            </div>
        </div>
        <!-- <div class="row ">
            <div class="col-xl-12">
                <div class="white_card  mb_30">
                   
                    <div class="white_card_body anlite_table p-0">
                        <h3 style="color:floralwhite; border: 30px solid DodgerBlue">Unisys Governance Platform
                            <p style="color:floralwhite">This platform has been created to govern the applications created and to create new applications.</p> 
                            <div class="row">
                        </h3>
                        
                          </div>
                        </div>
                    </div>
                </div> -->


            </div>


            <div class="row">
                <div class="col">
                    <div class="jumbotron">
                        <h1 class="display-4" style="text-align: center;">Unisys Governance Platform </h1>
                        <img src="static/img/homebg.svg" style="width: 600px;height: 400px;margin-left: 25%;">

                        <p class="lead">This platform has been created to govern the applications created and to create new applications.
                        </p>
                        <hr class="my-4">
                        <a class=" btn btn-primary btn-lg btn-block" style="width: 50%;margin-left: 25%;"  href="#" role="button">Get Started</a>
                      </div>

        
                </div>
                <div class="colsa">
                </div>
            </div>



            </div>
    </div>
</div>

{% endblock %}

