{% extends "base.html" %}
{% block content %}
    <!-- {% for item in values %}
    <p>projectName: {{item.projectName}}, databaseDialect: {{item.databaseDialect}}</p>
    {% endfor %} -->

        <style>
            .action_btn:hover{
                cursor: pointer;
            }
            .options
                {
                font-size: 14px !important;
                }
        </style>
        <div class="main_content_iner overly_inner ">
            <div class="container-fluid p-0 ">
                <!-- page title  -->
                <div class="row">
                    <div class="col-2">
                        <div class="page_title_box d-flex align-items-center justify-content-between">
                            <div class="page_title_left">
                                <h3 class="f_s_30 f_w_700 dark_text">Audits</h3>
                            </div>





                        </div>

                    </div>

                    <div class="col white_card_body ">
                        <ul class="nav nav-pills nav-fill custom_bootstrap_nav">
                            <li class="nav-item">
                              <a class="nav-link active" href="/viewaudits/Governance">Governance Audits</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/viewaudits/Applications">Application Audits</a>
                            </li>
                          </ul>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12">
                        <div class="white_card">
                            <div class="card-body">
                                <div class="board_wrapper">
                                    <!-- single_board  -->
                                    <div class="single_board">
                                        <div class="main_board_card">
                                            <div class="white_card_header pl-0 pr-0 pt-0">
                                                <div class="box_header m-0">
                                                    <!-- <div class="main-title">
                                                        <h3 class="m-0">Ongoing</h3>
                                                    </div> -->
                                                    <div class="header_more_tool">
                                                        <div class="dropdown">
                                                            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                                              <i class="ti-more-alt"></i>
                                                            </span>
                                                            
                                                          </div>
                                                    </div>
                                                </div>
                                            </div>



<!-- Audits -->
                                            <div class="white_card_body">
                                                <div class="QA_section">
                                                    <div class="row">

                                                        <div class="col d-flex justify-content-center options-list">
                                                            <a href="/downloadreport/governance" class="ui labeled icon button primary options"
                                                                onclick="DownloadReport('governance')"><i class="download  icon"></i></i>Download</a>
                                                                <a href="/deleteallaudits/governance" class="ui labeled icon button negative options"
                                                                ><i
                                                                    class="trash alternate icon"></i>Clear All</a>
                                                        </div>
                                                        


                                                    </div>
                                                    <div class="QA_table mb_30 ui table">
                                                        <!-- table-responsive -->
                                                        <table id="audit-table" class="table lms_table_active3 ">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">User</th>
                                                                    <th scope="col">Application</th>
                                                                    <th scope="col">Operation</th>
                                                                    <th scope="col">Timestamp</th>
                                                                    <!-- <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"  aria-label="Action: activate to sort column ascending">Action</th> -->
                                                                </tr>
                                                            </thead>
                                                            <tbody id="gov_audit_body">
                                                             {% for audit in governance_audits %}
                    
                                                                <tr id="row-{{loop.index}}">
                                                                    <td>{{audit.userName}}</td>
                                                                    <td>{{audit.AppName}}</td>
                                                                    <td>{{audit.operation}}</td>
                                                                    <td>{{audit.timestamp}}</td>
                                                                    <!-- <td>
                                                                        <div class="action_btns d-flex">
                                                                            <div class="action_btn" onclick="deleteAudit('governance','{{audit.auditid}}','{{loop.index}}')"> <i class="trash icon"></i> </div>
                                                                        </div>
                                                                    </td> -->
                                                                </tr>
                                                                {% endfor %}
                    
                                                            </tbody>
                    
                    
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>




                                                </div> 
                                                
                                            </div>
                                        </div>
                                    </div>

                                                            <!--end col-->
                                                            <div class="col-6 align-self-center">
                                                                <a class="float-right" href="#">
                                                                    <div class="thumb_34 ml-1 mt-0"><img class="img-fluid radius_50" alt=""></div>
                                                                </a>
                                                            </div> 
                                                            <!--end col-->
                                                        </div>
                                                    </div>
                                                </div>
                                                        
                                                    </div>
                                                </div>
                                                {% endblock %}

<script>


</script>
{% for project_name,status in application_status.items() %}
                                                            
{% if project_name == project.project_name %}

    {% if status == 'true' %}
        <a id="{{project_name}}_visit" class="ui labeled icon button facebook btn-block"
        href="http://localhost:8080/{{project.project_name}}" target="_blank" style="width: 265px;">
        <i class="location arrow icon"></i>
        Visit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </a>  

    {% else %}

    <a id="{{project_name}}_visit" class="ui labeled icon button facebook btn-block disabled"
    href="http://localhost:8080/{{project.project_name}}" target="_blank" style="width: 265px;">
    <i class="location arrow icon"></i>
    Visit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</a>  


    {% endif %}
{% endif %}

{% endfor %}
