{% extends "base.html" %}
{% block content %}
<style>
    .toggleSwitch.large input:checked ~ p {
    left: 35px;
    
}
.description .btn{
  margin: 0px 4px;
}

.description{
    margin:10px 0px;
    margin-right: 5px;
}
.description a{
    width: 130px;
}

.cards div.card{
    margin:0px 40px !important;
}


#to-show {
    opacity: 0;
}
#to-hover:hover > #to-show {
    opacity: 1;
    transition:opacity 0.5s; 
}

.disabled{
    cursor: disabled;
}




</style>

<!--/ menu  -->
<div class="main_content_iner overly_inner ">
    
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex align-items-center justify-content-between">
                    <div class="page_title_left">
                        <h3 class="f_s_30 f_w_700 dark_text">All Applications</h3>
                        <!-- {{application_status}} -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col">
                    <div class="white_card">
                        <div class="card-body">
                            <div class="board_wrapper">
                                <!-- single_board  -->
                                <div class="single_board">
                                    <div class="main_board_card">
                                        <div class="board_card_list">
                                        <div class="ui link cards d-flex justify-content-center" >
    
                                            {% for project in project_list %}

                                            <div class="card " style="margin-bottom:20px;margin-left: 15px;margin-right:15px">
                                              <div class="image" style="padding: 5px 5px;">
                                                <img src="static/img/agreement-terms.svg" style="width: 60%;height: 50%;margin-left: 20%;">
                                              </div>
                                              <div class="content">
                                                <div class="header" style="text-align: center;letter-spacing: 1.5px;">{{project.project_name |title}}</div>
                                                <div class="meta">
                                                  <p>&nbsp;</p>
                                                </div>
                                                <div class="controls">
                                                    <div class="row">
                                                        <div id="to-shows" class="description col">
                                                            <a class="ui labeled icon button facebook"
                                                            href="/applicationinfo/{{project.project_name}}">
                                                            <i class="tachometer alternate icon"></i>
                                                            Metrics
        
                                                        </a>   
                                                        
                                                        <a class="ui labeled icon button facebook"
                                                        href="/viewaudits/Applications/{{project.project_name}}">
                                                        <i class="newspaper outline icon"></i>
                                                        Audits
                                                    </a>  
                                                    </div>    
                                                    </div>                                                
                                                    <div class="row">
                                                        <div class="description col">
                                                            

                                                     

                                                            
                                                            <a id="{{project.project_name}}_visit" class="ui labeled icon button facebook btn-block"
                                                            href="http://localhost:8080/{{project.project_name}}" target="_blank" style="width: 265px;">
                                                            <i class="location arrow icon"></i>
                                                            Visit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </a>  


<!--     
                                                        <a class=" ui labeled icon button facebook"
                                                        href="http://localhost:8080/{{project.project_name}}" target="_blank">
                                                        <i class="edit icon"></i>
                                                        Edit
                                                    </a>   -->
        
                                                        </div>
                                                    </div>
    
                                                </div>




                                                <!-- <div id="to-hover" style="height: 20px;">
                                                    <i class="chevron down icon"></i>
                                                    
    
                                                </div>
                                              -->

                                              </div>
                                              <div class="extra content">
                                                <span class="left floated" style="line-height: 30px;">
                                                  Created on {{project.curr_date}}
                                                </span>
                                                
                                                
                                            
                                                
                                                <label class="toggleSwitch large" onclick="updatePowerStatus(this,'{{project.project_name}}','{{loop.index}}')">
                                                    <input id="switch{{loop.index}}" type="checkbox"  />
                                                    <span>
                                                        <span>OFF</span>
                                                        <span>ON</span>
                                                    </span>
                                                    <p></p>
                                                </label>
                                              </div>
                                            </div>
                                            <h1>
                                            </h1>

                                            {%endfor%}
                                
                                          
                                          </div>
                                
                                          </div>
        
    
    
    
                                    </div>
    
    
    
    
    
                                        
                                    
    
                                </div>
                            </div>
                        </div>
    

                    </div>
                </div>
            </div>
    
    
            
        </div>
        

    </div>
</div>
</div>





{% for project_name,status in application_status.items() %}


<script>

    console.log(document.getElementById("switch{{loop.index}}"))
    var checkbox = document.getElementById("switch{{loop.index}}")
    var status = '{{status}}'
    if(status=="true")
        {
            checkbox.checked = true;
        $("#{{project_name}}_visit").removeClass("disabled")
        }
    else
    {
        checkbox.checked = false;
        $("#{{project_name}}_visit").addClass("disabled")

    }
</script>

{% endfor %}

{% endblock %}