{% extends "base.html" %}
{% block content %}



<!--/ menu  -->
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex align-items-center justify-content-between">
                    <div class="page_title_left">
                        <h3 class="f_s_30 f_w_700 dark_text">All Applications</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col">
                    <div class="white_card">
                        <div class="card-body">
                            <div class="board_wrapper">
                                <!-- single_board  -->
                                <div class="single_board">
                                    <div class="main_board_card">
                                        <div class="board_card_list">
                                        <div class="ui link cards" style="margin-left: 10%;">
    
                                            {% for project in project_list %}
                                  
                                            <div class="card" style="margin-bottom:20px;margin-left: 15px;margin-right:15px;">
                                              <div class="image" style="padding: 5px 5px;">
                                                <img src="static/img/agreement-terms.svg" style="width: 60%;height: 50%;margin-left: 20%;">
                                              </div>
                                              <div class="content">
                                                <div class="header" style="text-align: center;">{{project.project_name |title}}</div>
                                                <div class="meta">
                                                  <p>&nbsp;</p>
                                                </div>
                                                <div class="description">
                                                    <a class=" btn btn-primary btn-block"
                                                    href="/applicationinfo/{{project.project_name}}">View
                                                    Application
                                                </a>                                                </div>
                                              </div>
                                              <div class="extra content">
                                                <span class="right floated" style="line-height: 30px;">
                                                  Created on {{project.curr_date}}
                                                </span>
                                                
                                                

                                                <form onclick="updatePowerStatus(this[0],'{{project.project_name}}')">
                                                <input id="switch{{loop.index}}"  type="checkbox" data-toggle="toggle" name="check" value="1"
                                                                data-on="&nbsp;On &nbsp;" data-off=" Off "
                                                                data-onstyle="success" data-offstyle="danger"
                                                                data-style="ios">
                                                </form>
                                              </div>
                                            </div>
                                
                                            {%endfor%}
                                
                                          
                                          </div>
                                
                                          </div>
        
    
    
    
                                    </div>
    
    
    
    
    
                                        
                                    
    
                                </div>
                            </div>
                        </div>
    

                    </div>
                </div>
            </div>
    
    
            
        </div>
        

    </div>
</div>
</div>


{% endblock %}