<div class="page-top-info">
    <div class="container">
        <h4>Signup</h4>
        <div class="site-pagination">
            <a href="#">Home</a> /
            <a href="#">Signup</a>
        </div>
    </div>
</div>

<section class="login_part section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>Existing User?</h2>
                        <p>There are advances being made in science and technology
                            everyday, and a good example of this is the</p>
                        <a routerLink="/login" class="btn_3">Signin into an Existing Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Welcome to Our Shop <br>
                            Please Create an Account</h3>
                        <form class="row generic-form" #SignupForm="ngForm" name="SignupForm"
                            (ngSubmit)="onSubmitSignupForm()" novalidate>
                            <input [(ngModel)]="userModel.userloginid" #username="ngModel" name="username"
                                class="input-field" type="text" placeholder="Username " required>
                            <input [(ngModel)]="userModel.emailid" #email="ngModel" name="email" class="input-field"
                                type="email" placeholder="Email" required>
                            <input [(ngModel)]="userModel.mobileno" #mobileno="ngModel" name="mobileno"
                                class="input-field" type="text" placeholder="Mobile number" required>
                            <input [(ngModel)]="userModel.password" #password="ngModel" name="password"
                                class="input-field" type="password" placeholder="Password" required>

                            <div class="d-flex justify-content-center" >
                                <button class="site-btn" [disabled]="SignupForm.form.invalid">Signup</button>
                    
                            </div>

                        </form>

                        <br>
                        <div class="row">
                            <div>
                                Username is {{userModel.userloginid}}

                            </div>
                            <div>
                                Email is {{userModel.emailid}}

                            </div>
   
                            <div>
                                Mobileno is {{userModel.mobileno}}

                            </div>
                            <div>
                                Password is {{userModel.password}}

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


                            <!-- <select class="input-field" name="gender" id="gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>

                            </select> -->
