<div class="page-top-info">
    <div class="container">
        <h4>Login</h4>
        <div class="site-pagination">
            <a href="#">Home</a> /
            <a href="#">Login</a>
        </div>
    </div>
</div>

<section class="login_part section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>New to our Shop?</h2>
                        <p>There are advances being made in science and technology
                            everyday, and a good example of this is the</p>
                        <a routerLink="/signup" class="btn_3">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Welcome Back ! <br>
                            Please Sign in now</h3>
                        <form class="row generic-form" action="#" method="post" novalidate="novalidate">
                            <input class="input-field" type="text" placeholder="Username">
                            <input class="input-field" type="password" placeholder="Password">
                                <div class="creat_account">
                                    <input type="checkbox" id="f-option" name="selector">
                                    <label for="f-option">Remember me</label>
                                </div>
                                    <a class="lost_pass" href="#" style="margin-left:200px;margin-top:13px;font-size: 14px;font-family: josefin sans, sans-serif;">forgot password?</a>
                            <div class="d-flex justify-content-center" style="margin-left: 28%;" >
                                <button class="site-btn">Login</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>